.pieces
  - if !@pieces.empty?
    - @pieces.each do |piece|
      = link_to piece_path(piece) do
        .piece
          %p.piece-title= piece.title
          %p.piece-composer= piece.composer

    %hr.line
    = paginate @pieces
  - else
    %h2 No results found
