 .title {
  font-size: 20px;
  margin-bottom: 0px;
}

.piece {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-left: 10px;
}

#home {
  font-size: 40px;
  padding: 0px;
}

.piece-title {
  font-size: 24px;
  padding: 0px;
  margin: 0px;
  line-height: 1.0;
}


.piece-composer {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  line-height: 1.0;
}

a {
  padding: 0px;
}
