$green: #94B24D;
$light_green: #D3FF82;
$blue: #363D52;
$dark_blue: #121D2B;
$black: #111B1C;

 .title {
  font-size: 20px;
  margin-bottom: 0;
}

.piece {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-left: 10px;
}

#home {
  font-size: 40px;
  padding: 0;
}

.piece-title {
  font-size: 24px;
  line-height: 1;
  margin: 0;
  padding: 0;
}


.piece-composer {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

a {
  padding: 0;
}
.pagination {
  text-align: center;
  position: fixed;
  bottom: 20px;
  width: 100%;
  font-size: 30px;
}
.line {
  position: fixed;
  bottom: 60px;
  align: center;
  width: 50%;
  margin-left: 25%;
}

#search-form {
  float: right;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}
