 .title {
  font-size: 20px;
  margin-bottom: 0px;
}

.piece {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
}

#home {
  font-size: 40px;
  padding: 0px;
}

.show-container {
  padding-top: 50px;
}

.piece-title {
  padding: 0px;
  margin: 0px;
}

.piece-composer {
  font-size: 19px;
  padding: 0px;
  margin: 0px;
}
