.show-container {
  margin: 10px;
  padding: 5px;
  padding-top: 50px;
}

.show-title {
  margin-bottom: 0;
}

.links {
  margin-left: 10px;
  padding-left: 5px;
  p {
    display: inline;
    padding-right: 5px;
  }
}
