$green: #94B24D;
$light_green: #D3FF82;
$blue: #363D52;
$dark_blue: #121D2B;
$black: #111B1C;

.show-container {
  margin: 10px;
  padding: 5px;
  padding-top: 50px;
}

.show-title {
  margin-bottom: 0;
}

.links {
  margin-left: 10px;
  padding-left: 5px;
  p {
    display: inline;
    padding-right: 5px;
  }
}

.voting-title-container {
  padding-top: 20px;
  vertical-align: middle;
}

.voting {
  float: left;
  padding-right: 5px;
  font-size: 25px;
}

.review-container {
  float: left;
}

.review-title {
  margin-top: 5px;
}

.voted a{
  color: red;
  &:hover{
  color: red;
  }
}

span {
  padding: 10px;
}
