.show-container {
  padding-top: 50px;
  margin: 10px;
  padding: 5px;
}

.show-title {
 margin-bottom: 0px;
}

.show-composer {

}

.links {
  margin-left: 10px;
  padding-left: 5px;
  p {
    display: inline;
    padding-right: 5px;
  }
}
