= form_tag(pieces_path, method: :get, id: "search-form") do
  .search_field= text_field_tag :keyword_search, params[:keyword_search], placeholder: "Search by Keywords"
  .search_button= submit_tag "Search", :name => nil, label: "Keyword Search", id: "keyword_search_button"
